<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Все пользователи БД1</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
  <br>
  <h1>Все пользователи БД1</h1>
  <tolbar-bd th:insert="blocks/toolbar-bd :: toolbar-bd"></tolbar-bd>

  <table class="table table-bordered border-primary">
    <thead>
    <th scope="col">Логин</th>
    <th scope="col">Имя</th>
    <th scope="col">Фамилия</th>
    <th scope="col">email</th>
    <th scope="col">Дата регистрации</th>
    <th scope="col">Последний вход</th>
    <th scope="col">Статус</th>
    </thead>
    <tbody>
    <tr class="table-active">
      ...
    </tr>
    <tr>
      ...
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2" class="table-active">Строчку можно удалить (2)</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </tbody>
</div>

</body>
</html>